## Hotel Customer Satisfaction - Data Creation

Generate data for customer experiences in an example hotel. The generated data consists of:

- Overall customer rating
- Customer demographics (Age, Gender, Residence)
- Trip Background (Purpose, Travel Type, Booking Type)
- Individual service ratings (Amenities, Staff, Cleanliness, Wifi etc).

A CSV file will be produced:

- hotel_reviews.csv

### Libraries and Functions

In [7]:
# Libraries
#
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [8]:
# Establish valid data file path, for reading and saving eg CSV files
#

import os
data_directory = 'Data_Sources'          # Designated data folder above the current working directory
project_directory = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(project_directory, data_directory)
if not os.path.isdir(DATA_PATH):
    raise Exception(f'Directory not found: {DATA_PATH}')

# Tidy Up
del data_directory, project_directory

In [9]:
# A simple utility function to obtain and summarise key elements of a given dataframe

def print_file_summary(data_frame):
    # Create a temporary df and ensure no lists remain, so that unique items can be identified for uniqueness
    temp_df = data_frame.copy()
    temp_df = temp_df.map(lambda cell: str(cell) if isinstance(cell, list) else cell)
    
    # Calculate Data Types 
    summary_of_df = pd.DataFrame({'Count': data_frame.count(),
                                 'Missing': data_frame.isnull().sum(), 'Empty': 0,
                                 'Unique': temp_df.nunique(),
                                 'Type': data_frame.dtypes, 
                                 'String': 0, 'Int': 0, 'Float': 0, 'List': 0
                                 })
    summary_of_df['Empty'] = (data_frame == '').sum()
    summary_of_df['String'] = data_frame.map(lambda cell: isinstance(cell, str)).sum()
    summary_of_df['Int'] = data_frame.map(lambda cell: isinstance(cell, int)).sum()
    summary_of_df['Float'] = data_frame.map(lambda cell: isinstance(cell, float)).sum()
    summary_of_df['List'] = data_frame.map(lambda cell: isinstance(cell, list)).sum()

    display(summary_of_df)

### Source Data Load and Manipulate

In [10]:
# Load Source CSV files

# Read in the two original source files
file_name = 'booking_com_reviews.csv'
file_path = os.path.join(DATA_PATH, file_name)
if not os.path.isfile(file_path):
    raise Exception(f'File not found: {file_path}')

hotel_reviews_df = pd.read_csv(file_path)

file_name = 'hotel_satisfaction_scores.csv'
file_path = os.path.join(DATA_PATH, file_name)
if not os.path.isfile(file_path):
    raise Exception(f'File not found: {file_path}')

hotels_satisfaction_df = pd.read_csv(file_path)

# Initial look at the data
print_file_summary(hotel_reviews_df)
display(hotel_reviews_df)
print_file_summary(hotels_satisfaction_df)
display(hotels_satisfaction_df)

# Tidy Up
del file_name, file_path

,Count,Missing,Empty,Unique,Type,String,Int,Float,List
Title,1521,2,0,455,object,1521,0,2,0
PositiveReview,775,748,0,768,object,775,0,748,0
NegativeReview,434,1089,0,377,object,434,0,1089,0
Score,1523,0,0,12,float64,0,0,1523,0
GuestName,1523,0,0,1055,object,1523,0,0,0
GuestCountry,1523,0,0,68,object,1523,0,0,0
RoomType,1460,63,0,7,object,1460,0,63,0
NumberOfNights,1523,0,0,15,object,1523,0,0,0
VisitDate,1523,0,0,20,object,1523,0,0,0
GroupType,1523,0,0,4,object,1523,0,0,0
PropertyResponse,123,1400,0,117,object,123,0,1400,0

,Title,PositiveReview,NegativeReview,Score,GuestName,GuestCountry,RoomType,NumberOfNights,VisitDate,GroupType,PropertyResponse
0,Wonderful place to stay.,"New, comfortable apartments, close to the airp...",Nothing at all.,10.0,Olga,Norway,Budget Twin Room,1 night,June 2022,Solo traveler,NaN
1,It was superb,We had a really pleasant stay! The staff was v...,NaN,10.0,Iwona,Poland,Double Room,3 nights,December 2022,Family,NaN
2,Very Good,the location is great and near the airport. bu...,NaN,8.0,Ruijia,Sweden,Double Room,1 night,December 2022,Solo traveler,NaN
3,Wonderful,Great stuff\nGreat Quality/price\nClean,NaN,9.0,Theprincem,United Kingdom,Double Room with Balcony,2 nights,September 2022,Solo traveler,NaN
4,"Fantastic value for a new, modern and spotless...","Clean and modern with very comfortable beds, i...",NaN,10.0,M,Switzerland,Family Suite with Balcony,1 night,October 2022,Family,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1518,Exceptional,NaN,NaN,10.0,Anonymous,Israel,NaN,5 nights,September 2021,Couple,NaN
1519,Wonderful,NaN,NaN,9.0,Anonymous,Czech Republic,NaN,1 night,September 2021,Group,NaN
1520,Very Good,NaN,NaN,8.0,Anonymous,Sweden,NaN,1 night,August 2021,Couple,NaN
1521,Wonderful,NaN,NaN,9.0,Anonymous,Germany,NaN,3 nights,September 2021,Solo traveler,NaN
1522,Pleasant,NaN,NaN,6.0,Anonymous,Austria,NaN,1 night,October 2022,Couple,NaN

,Count,Missing,Empty,Unique,Type,String,Int,Float,List
id,103904,0,0,103904,int64,0,103904,0,0
Gender,103904,0,0,2,object,103904,0,0,0
Age,103904,0,0,75,int64,0,103904,0,0
purpose_of_travel,103904,0,0,5,object,103904,0,0,0
Type of Travel,103904,0,0,2,object,103904,0,0,0
type_of_booking,103904,0,0,3,object,103904,0,0,0
Hotel wifi service,103904,0,0,6,int64,0,103904,0,0
Departure_Arrival,103904,0,0,6,int64,0,103904,0,0
Ease of Online booking,103904,0,0,6,int64,0,103904,0,0
Hotel location,103904,0,0,6,int64,0,103904,0,0
Food and drink,103904,0,0,6,int64,0,103904,0,0
Stay comfort,103904,0,0,6,int64,0,103904,0,0
Common Room entertainment,103904,0,0,6,int64,0,103904,0,0
Checkin/Checkout service,103904,0,0,6,int64,0,103904,0,0
Other service,103904,0,0,6,int64,0,103904,0,0
Cleanliness,103904,0,0,6,int64,0,103904,0,0
satisfaction,103904,0,0,2,object,103904,0,0,0

,id,Gender,Age,purpose_of_travel,Type of Travel,type_of_booking,Hotel wifi service,Departure_Arrival,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,70172,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,neutral or dissatisfied
1,5047,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,neutral or dissatisfied
2,110028,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,satisfied
3,24026,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,neutral or dissatisfied
4,119299,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,23,business,Group Travel,Individual/Couple,2,1,2,3,2,2,2,2,3,2,neutral or dissatisfied
103900,73097,Male,49,tourism,Group Travel,Group bookings,4,4,4,4,2,5,5,5,5,4,satisfied
103901,68825,Male,30,tourism,Group Travel,Group bookings,1,1,1,3,4,5,4,5,5,4,neutral or dissatisfied
103902,54173,Female,22,business,Group Travel,Individual/Couple,1,1,1,5,1,1,1,5,4,1,neutral or dissatisfied
103903,62567,Male,27,academic,Group Travel,Group bookings,1,3,3,3,1,1,1,4,3,1,neutral or dissatisfied

In [15]:
# Take source files, manipulate to create appropriate simulated data
#

# Function to generate partially random scores
import random
def gen_random(text_satisfaction ,cleanliness):
    if 'neutral or dissatisfied' in text_satisfaction:
        if cleanliness in [0,1]:
            return 0
        else:
            return random.randint(1,2)
    elif 'satisfied' in text_satisfaction:
        if cleanliness == 5:
            return 5
        else:
            return random.randint(3,4)
    else:
        return 5

# Create a working DF for manipulation
hotels_working = hotels_satisfaction_df.copy()

# Change column names for all scores & change the score range from 0:5 to 0:4
hotels_working.rename(columns={'Hotel wifi service': 'score_wifi',
                                'Departure_Arrival': 'score_transport',
                                'Ease of Online booking': 'score_booking',
                                'Hotel location': 'score_location',
                                'Food and drink': 'score_restaurant',
                                'Stay comfort': 'score_staff',
                                'Common Room entertainment': 'score_parking',
                                'Checkin/Checkout service': 'score_checkin',
                                'Other service': 'score_local_sites',
                                'Cleanliness': 'score_housekeeping'}, 
                               inplace=True)

score_columns = hotels_working.loc[:, hotels_working.columns.str.startswith('score_')]
for next_col in score_columns:
    hotels_working[next_col] = (hotels_working[next_col].clip(upper=5) * 0.8).round().astype(int)

# Manipulate some specific scores
hotels_working['score_staff'] = (hotels_working['score_staff']*0.5).astype(int)
hotels_working['score_parking'] = (hotels_working['score_parking']*0.25).astype(int)
hotels_working['score_restaurant'] = (hotels_working['score_restaurant']*0.75).astype(int)
hotels_working['score_wifi'] = (hotels_working['score_wifi']*0.75).astype(int)

# Fabricate an overall satisfaction score 0:5 based on the text satisfaction in source file
hotels_working['score_overall'] = hotels_working.apply(
                lambda row: gen_random(row['satisfaction'], row['score_housekeeping']), axis=1)
hotels_working.drop('satisfaction', axis=1, inplace=True)

# Tidy up other column names
hotels_working.rename(columns={'Gender': 'gender',
                                'Age': 'age',
                                'Type of Travel': 'type_of_travel'}, 
                               inplace=True)

# Check results
print_file_summary(hotels_working)
display(hotels_working)
display(hotels_working.describe())

# Save to CSV file
file_name = 'hotel_reviews.csv'
file_path = os.path.join(DATA_PATH, file_name)
hotels_working.to_csv(file_path, index=False)
print(f'Data saved to {file_path}')

,Count,Missing,Empty,Unique,Type,String,Int,Float,List
id,103904,0,0,103904,int64,0,103904,0,0
gender,103904,0,0,2,object,103904,0,0,0
age,103904,0,0,75,int64,0,103904,0,0
purpose_of_travel,103904,0,0,5,object,103904,0,0,0
type_of_travel,103904,0,0,2,object,103904,0,0,0
type_of_booking,103904,0,0,3,object,103904,0,0,0
score_wifi,103904,0,0,4,int64,0,103904,0,0
score_transport,103904,0,0,5,int64,0,103904,0,0
score_booking,103904,0,0,5,int64,0,103904,0,0
score_location,103904,0,0,5,int64,0,103904,0,0
score_restaurant,103904,0,0,4,int64,0,103904,0,0
score_staff,103904,0,0,3,int64,0,103904,0,0
score_parking,103904,0,0,2,int64,0,103904,0,0
score_checkin,103904,0,0,5,int64,0,103904,0,0
score_local_sites,103904,0,0,5,int64,0,103904,0,0
score_housekeeping,103904,0,0,5,int64,0,103904,0,0
score_overall,103904,0,0,5,int64,0,103904,0,0

,id,gender,age,purpose_of_travel,type_of_travel,type_of_booking,score_wifi,score_transport,score_booking,score_location,score_restaurant,score_staff,score_parking,score_checkin,score_local_sites,score_housekeeping,score_overall
0,70172,Male,13,aviation,Personal Travel,Not defined,1,3,2,1,3,2,1,3,4,4,2
1,5047,Male,25,tourism,Group Travel,Group bookings,1,2,2,2,0,0,0,1,3,1,0
2,110028,Female,26,tourism,Group Travel,Group bookings,1,2,2,2,3,2,1,3,3,4,4
3,24026,Female,25,tourism,Group Travel,Group bookings,1,4,4,4,1,1,0,1,3,2,2
4,119299,Male,61,aviation,Group Travel,Group bookings,1,2,2,2,2,2,0,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,23,business,Group Travel,Individual/Couple,1,1,2,2,1,1,0,2,2,2,1
103900,73097,Male,49,tourism,Group Travel,Group bookings,2,3,3,3,1,2,1,4,4,3,4
103901,68825,Male,30,tourism,Group Travel,Group bookings,0,1,1,2,2,2,0,4,4,3,2
103902,54173,Female,22,business,Group Travel,Individual/Couple,0,1,1,4,0,0,0,4,3,1,0
103903,62567,Male,27,academic,Group Travel,Group bookings,0,2,2,2,0,0,0,3,2,1,0

,id,age,score_wifi,score_transport,score_booking,score_location,score_restaurant,score_staff,score_parking,score_checkin,score_local_sites,score_housekeeping,score_overall
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000
mean,64924.210502,39.379706,1.209703,2.425912,2.199935,2.333192,1.539354,1.138532,0.242657,2.552443,2.818900,2.569901,2.209934
std,37463.812252,15.114964,0.888605,1.131421,1.011443,0.909634,0.962863,0.593118,0.428691,0.944624,0.898211,0.968967,1.295935
min,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,2.000000,2.000000,2.000000,1.000000
50%,64856.500000,40.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,2.000000,3.000000,2.000000,2.000000
75%,97368.250000,51.000000,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000,0.000000,3.000000,4.000000,3.000000,3.000000
max,129880.000000,85.000000,3.000000,4.000000,4.000000,4.000000,3.000000,2.000000,1.000000,4.000000,4.000000,4.000000,4.000000

Data saved to /Users/stuartgow/GitHub/Travel_Co_Analysis/Data_Sources/hotel_reviews.csv