# Hotel Customer Satisfaction - Data Creation

Generate data for customer experiences in an example hotel. The generated data consisits of:

- XXXX
- xxxx

The initial data was taken from an example of customer feedback fr a real hotel on Booking.Com

- https://www.kaggle.com/datasets/michelhatab/hotel-reviews-bookingcom/code
- ????? manipulated, additional dat applied

In [11]:
# Libraries
#

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [12]:
# Establish valid data file path, for reading and saving eg CSV files
#

import os
data_directory = 'Data_Sources'          # Designated data folder above the current working directory
project_directory = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(project_directory, data_directory)
if not os.path.isdir(DATA_PATH):
    raise Exception(f'Directory not found: {DATA_PATH}')

# Tidy Up
del data_directory, project_directory

In [35]:
# A simple utility function to obtain and summarise key elements of a given dataframe

def print_file_summary(data_frame):
    # Create a temporary df and ensure no lists remain, so that unique items can be identified for uniqueness
    temp_df = data_frame.copy()
    temp_df = temp_df.map(lambda cell: str(cell) if isinstance(cell, list) else cell)
    
    # Calculate Data Types 
    summary_of_df = pd.DataFrame({'Count': data_frame.count(),
                                 'Missing': data_frame.isnull().sum(), 'Empty': 0,
                                 'Unique': temp_df.nunique(),
                                 'Type': data_frame.dtypes, 
                                 'String': 0, 'Int': 0, 'Float': 0, 'List': 0
                                 })
    summary_of_df['Empty'] = (data_frame == '').sum()
    summary_of_df['String'] = data_frame.map(lambda cell: isinstance(cell, str)).sum()
    summary_of_df['Int'] = data_frame.map(lambda cell: isinstance(cell, int)).sum()
    summary_of_df['Float'] = data_frame.map(lambda cell: isinstance(cell, float)).sum()
    summary_of_df['List'] = data_frame.map(lambda cell: isinstance(cell, list)).sum()

    display(summary_of_df)

## Source Data Load and Check

In [41]:
# Load Source CSV
file_name = 'hotel_reviews.csv'
file_path = os.path.join(DATA_PATH, file_name)
if not os.path.isfile(file_path):
    raise Exception(f'File not found: {file_path}')

hotel_reviews_df = pd.read_csv(file_path)

# Tidy Up
del file_name, file_path

In [38]:
#| label: csv_file_summary

print(hotel_reviews_df.head(3))
display(hotel_reviews_df.head(3))

                      Title  \
0  Wonderful place to stay.
1             It was superb
2                 Very Good

                                      PositiveReview   NegativeReview  Score  \
0  New, comfortable apartments, close to the airp...  Nothing at all.   10.0
1  We had a really pleasant stay! The staff was v...              NaN   10.0
2  the location is great and near the airport. bu...              NaN    8.0

  GuestName GuestCountry          RoomType NumberOfNights      VisitDate  \
0      Olga       Norway  Budget Twin Room        1 night      June 2022
1     Iwona       Poland       Double Room       3 nights  December 2022
2    Ruijia       Sweden       Double Room        1 night  December 2022

       GroupType PropertyResponse
0  Solo traveler              NaN
1         Family              NaN
2  Solo traveler              NaN

,Title,PositiveReview,NegativeReview,Score,GuestName,GuestCountry,RoomType,NumberOfNights,VisitDate,GroupType,PropertyResponse
0,Wonderful place to stay.,"New, comfortable apartments, close to the airp...",Nothing at all.,10.0,Olga,Norway,Budget Twin Room,1 night,June 2022,Solo traveler,NaN
1,It was superb,We had a really pleasant stay! The staff was v...,NaN,10.0,Iwona,Poland,Double Room,3 nights,December 2022,Family,NaN
2,Very Good,the location is great and near the airport. bu...,NaN,8.0,Ruijia,Sweden,Double Room,1 night,December 2022,Solo traveler,NaN

In [34]:
#| label: csv_file_types

print_file_summary(hotel_reviews_df)

,Count,Missing,Empty,Unique,Type,String,Int,Float,List
Title,1521,2,0,455,object,1521,0,2,0
PositiveReview,775,748,0,768,object,775,0,748,0
NegativeReview,434,1089,0,377,object,434,0,1089,0
Score,1523,0,0,12,float64,0,0,1523,0
GuestName,1523,0,0,1055,object,1523,0,0,0
GuestCountry,1523,0,0,68,object,1523,0,0,0
RoomType,1460,63,0,7,object,1460,0,63,0
NumberOfNights,1523,0,0,15,object,1523,0,0,0
VisitDate,1523,0,0,20,object,1523,0,0,0
GroupType,1523,0,0,4,object,1523,0,0,0
PropertyResponse,123,1400,0,117,object,123,0,1400,0

xxxxxxx

,Title,PositiveReview,NegativeReview,Score,GuestName,GuestCountry,RoomType,NumberOfNights,VisitDate,GroupType,PropertyResponse
0,Wonderful place to stay.,"New, comfortable apartments, close to the airp...",Nothing at all.,10.0,Olga,Norway,Budget Twin Room,1 night,June 2022,Solo traveler,NaN
1,It was superb,We had a really pleasant stay! The staff was v...,NaN,10.0,Iwona,Poland,Double Room,3 nights,December 2022,Family,NaN
2,Very Good,the location is great and near the airport. bu...,NaN,8.0,Ruijia,Sweden,Double Room,1 night,December 2022,Solo traveler,NaN

In [33]:
#| label: csv_file_statistics

print(hotel_reviews_df.describe())

             Score
count  1523.000000
mean      8.973802
std       1.300178
min       1.000000
25%       8.000000
50%       9.000000
75%      10.000000
max      10.000000